
.navBar {
  @apply bg-gray-800 text-white p-4 flex items-center justify-between relative;
}

.container{
    @apply flex justify-between items-center w-full;
}

.logoSection{
    @apply flex items-center gap-6 text-white;
  }
  
  .navbarLinks{
    @apply flex items-center gap-6 text-white px-8;
  }

  .category{
    @apply inline-block py-2 px-4 hover:text-blue-500 whitespace-nowrap;
  }

  .icons{
    @apply flex items-center gap-4;
  }

  .search, .cart{
    @apply text-2xl hover:bg-white hover:text-blue-500 rounded-full p-2 duration-200;
  }

  .hamburgerMenu{
    @apply md:hidden;
  }

  .hamburger {
    @apply block md:hidden bg-transparent border-none text-white text-2xl cursor-pointer px-8 hover:text-blue-500;
  }

  .active {
    @apply text-blue-500 font-bold;
  }

  /* Menú para pantallas grandes */
  .menuLarge {
    @apply hidden md:block;
  }

  .navbarLinks {
    @apply flex gap-4;
  }

  .category {
    @apply py-2 px-4 hover:text-blue-500;
  }

  /* Menú para pantallas pequeñas */
  .menuSmall {
    @apply absolute md:hidden top-full left-0 w-full bg-gray-800 text-white p-4 z-50;
    @apply transition-transform transform duration-300 ease-in-out;
  }

  .navbarLinksSmall {
    @apply flex flex-col gap-4;
  }

  .categorySmall {
    @apply py-2 px-4 hover:text-blue-500;
  }

  .itemCount {
    @apply absolute top-3 right-3 bg-red-500 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center;
  }

